:root {
  --body-text: #434455;
  --accent-color: #4d5ae5;
  --secondary-accent-color: #2E2F42;
  --pressed-state-color: #404BBF;
  --light-mode-backgrounds: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text);
  font-style: normal;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: FFFFFF;
}

.subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
  color: #2E2F42;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #2e2f42;
}
/* ==================================== COMPONENTS ==================================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-style {
  color: var(--secondary-accent-color);
}

.logo-style-footer {
  color: var(--light-mode-backgrounds);
}
/* ==================================== /COMPONENTS ==================================== *



/* ==================================== HEADER ==================================== */

.contacts {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address {
    font-style: normal;
}

.menu-link {
  font-weight: 500;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--pressed-state-color);
}
/* ==================================== /HEADER ==================================== */



/* ==================================== HERO ==================================== */
.hero {
  background-color: #2e2f42;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal-btn:hover
.modal-btn:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* ==================================== /HERO ==================================== */

/* ==================================== ABOUT ==================================== */
.ours-works {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--secondary-accent-color);
}

.our-team {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--secondary-accent-color);
}

.teams-member {
    background-color: FFFFFF;
    /* Header 3 */
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.teams-member {
    font-size: 16px;
}
/* ==================================== /ABOUT ==================================== */


/* ==================================== TEAM ==================================== */
.team-section {
  background-color: var(--light-mode-backgrounds);
}
/* ==================================== /TEAM ==================================== */

/* ==================================== FOOTER ==================================== */
.page-bottom {
  background-color: #2e2f42;
}
.logo-studio {
  color: #f4f4fd;
}

.slogan-footer {
  color: #f4f4fd;
}
/* ==================================== /FOOTER ==================================== */

/* ==================================== PORTFOLIO ==================================== */
/* Buttons */
.filter-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  background: #F4F4FD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.filter-btn:hover {
    color: #FFFFFF;
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

/* ==================================== PORTFOLIO ==================================== */